@import "tailwindcss";
@font-face {
  font-family: fontprimary;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: fontsecondary;
  src: url(../public/fonts/Lausanne-500.woff2);
}

